<a href="https://colab.research.google.com/github/AshaMariam/Assignment-on-Statistics-1/blob/main/Assignment_on_Statistics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment on Statistics using Students performance dataset

1.An Institution wishes to find out their studentâ€™s ability in mathematics, reading and writing skills.

The Institution wants to do an exploratory study to check the following information.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [29]:
data = pd.read_csv('/content/Students_Performance.csv')
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

a.Find out how many males and females participated in the test.

In [6]:
gender_counts = data['gender'].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

b.What do you think about the students' parental level of education?

In [7]:
parental_education = data['parental level of education'].value_counts()
print(parental_education)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

c.Who scores the most on average for math, reading and writing based on

i.Gender

ii.Test preparation course

In [16]:
average_scores = data.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
test_prep_variation = data.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print(average_scores)
print(test_prep_variation)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

d.What do you think about the scoring variation for math, reading and writing based on

i.Gender

ii.Test preparation course

In [20]:
gender_variation = data.groupby('gender')[['math score', 'reading score', 'writing score']].std()
test_prep_variation = data.groupby('test preparation course')[['math score', 'reading score', 'writing score']].std()
print(gender_variation)
print(test_prep_variation)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

e.The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.

In [23]:
mean_math = data['math score'].mean()
std_math = data['math score'].std()
cutoff_score = stats.norm.ppf(0.75, loc=mean_math, scale=std_math)

top_25_percent_students = data[data['math score'] >= cutoff_score]
print (top_25_percent_students)

     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     bonus_points
414             5
415             5
416             5
417             5
418             5
..            ...
995             5
996             5
997             5
998             5
999             5

[255 rows x 9 columns]